.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-image: url('./marvel-background.jpeg');
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 2;
}

#root {
  position: relative;
  z-index: 4;
}

/* MARVEL */

.wrapper {
  margin-top: 30px;
}

.header {
  padding: 20px 0;
  background-color: #393939;
}

.heroesList,
.comicsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.heroes_info,
.comicsList {
  display: flex;
  align-items: center;
}

.heroes_info .css-1pn97bl {
  text-align: center;
}

.heroes_info .css-qjmedr {
  border-radius: 50%;
}

.heroesList_item,
.comicItem {
  width: 100%;
  background-color: #393939;
  padding: 10px;
  margin-top: 10px;
}

.searching {
  margin-top: 30px;
  display: flex;
}

.heroes_info .css-3lvmz3-Text {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.hero_btn {
  margin-top: 30px;
}

.container {
  max-width: 1200px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.seemore_btn .css-1k6qvgn-ButtonBase {
  background-color: #e62429;
  cursor: pointer;
}

.seemore_btn .css-1k6qvgn-ButtonBase:hover {
  background-color: #fa464b;
}

.seemore_btn a {
  text-decoration: none;
}

.seemore_btn {
  width: 10%;
}

.sort_btn,
.search_btn, .searching .css-1k6qvgn-ButtonBase {
  background: #e62429;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.searching .css-1k6qvgn-ButtonBase:hover {
  background-color: #fa464b;
}

.comic_info .css-3lvmz3-Text,
.comic_info .css-1hy3fx8-Text {
  color: white;
}

.comic_info .css-1pn97bl {
  text-align: center;
}

.comic_info .css-3lvmz3-Text {
  font-weight: bold;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #393939;
  margin-top: 20px;
}

.pagination .pageItem {
  margin-left: 20px;
}

.pagination .css-7no60z-ButtonBase {
  color: white;
}

.pagination .css-its4un-IconWrapper svg {
  color: white;
}

.pagination .pageItem:first-child {
  margin-left: 0;
}

.pagination .pageItem .page-link {
  text-decoration: none;
  color: black;
}

.active_page_button {
  background-color: #e62429;
}

.search_btn {
  margin-left: 10px;
}

.noResults {
  color: white;
  text-transform: uppercase;
  margin-top: 40px;
  font-size: 30px;
}

.priceComic {
  color: white;
}

.comics_hd {
  color: white;
  text-transform: uppercase;
}

.not-found,
.not-found a {
  color: white;
}

/* end MARVEL */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
